---
layout: default
title:  "Ruby Books 'n' Screencasts"
---

<h1>{{ page.title }}</h1>


 {% include welcome-books.html %}


{% for book in site.books %}
<div class='post'>
  <header class='post-header'>
    <a href="{{ site.url }}{{ book.url }}">
      <span class='post-title'>{{ book.title }}</span>
    </a>
 <!--
 <p class='post-meta'>{{ link.date | date: "%b %-d, %Y" }}</p>
 -->
  </header>

  <article class='post-content'>
    <!-- todo -- use excerpt ??? -->
  </article>
</div>
{% endfor %}
