<p>
You [Gerald Bauer¹] have been permanently banned [for life] from participating in r/ruby (because of your writing off / outside of r/ruby).
I do not see your participation adding anything to this [ruby] community.   
</p>
<p>
  -- Richard Schneeman (r/ruby mod and fanatic illiberal ultra leftie on a cancel culture mission) 
</p>
<p style="font-size: 80%;">
¹:  I know. Who cares? Who is this Gerald Bauer anyway. A random nobody for sure. It just happens that I am the admin among other things 
 of Planet Ruby.
</p>

<a href="https://github.com/chooseaconduct/chooseaconduct.github.io/blob/master/casestudies/ruby.md">
Case Studies of Code of Conduct "Cancel Culture" Out-Of-Control Power Abuse - Ruby - A Call for Tolerance On Ruby-Talk Results In Ban On Reddit Ruby
</a>

<hr>
