<p>
  Brought to you by
</p>

<!-- or sort authors a to z or random shuffle - why? why not -->
<p>
   <a href="https://github.com/swanson"        title="Matt Swanson">    {% avatar swanson size=32 %} </a> <!-- day 1 n 7 -->
   <a href="https://github.com/picandocodigo"  title="Fernando Briano"> {% avatar picandocodigo size=32 %} </a> <!-- day 2 n 9-->
   <a href="https://github.com/marckohlbrugge" title="Marc Köhlbrugge"> {% avatar marckohlbrugge size=32 %} </a> <!-- day 3 -->
   <a href="https://github.com/excid3"          title="Chris Oliver">   {% avatar excid3 size=32 %} </a> <!-- day 4, 6 n 8 -->
   <a href="https://github.com/jasonswett"     title="Jason Swett">     {% avatar jasonswett size=32 %} </a> <!-- day 5 -->
   <a href="https://github.com/rlgreen91"      title="Rachel Green">    {% avatar rlgreen91 size=32 %} </a> <!-- day 10 -->
   <a href="https://github.com/abhaynikam"     title="Abhay Nikam">     {% avatar abhaynikam size=32 %} </a> <!-- day 11 -->
   <a href="https://github.com/pascalwengerter" title="Pascal Wengerter">  {% avatar pascalwengerter size=32 %} </a> <!-- day 12 -->
  
   <a href="https://github.com/ledestin"       title="Dmitry Maksyoma"> {% avatar ledestin size=32 %} </a> <!-- day 13 -->
   <a href="https://github.com/hlascelles"     title="Harry Lascelles"> {% avatar hlascelles size=32 %} </a> <!-- day 14 -->
   <a href="https://github.com/adrianthedev"   title="Adrian Marin">    {% avatar adrianthedev size=32 %} </a> <!-- day 15 -->

   <a href="https://github.com/jankeesvw"      title="Jankees van Woezik"> {% avatar jankeesvw size=32 %} </a> <!-- day 18 --> 
   <a href="https://github.com/marcoroth"      title="Marco Roth">         {% avatar marcoroth size=32 %} </a> <!-- day 20 --> 
   <a href="https://github.com/pienkowb"       title="Bartosz Pieńkowski"> {% avatar pienkowb size=32 %} </a> <!-- day 22 -->

   <a href="https://github.com/gettalong"      title="Thomas Leitner">  {% avatar gettalong size=32 %} </a> <!-- day ?? - move hexapdf guest post from week series -->
   <a href="https://github.com/geraldb"        title="Gerald Bauer">    {% avatar geraldb size=32 %} </a> <!-- day ?? -->
   &nbsp;&nbsp;&nbsp;
  <a href="https://github.com/planetruby/gems/issues">You - Yes, you can!</a>
</p>
