---
layout: default
title: Ruby Links 'n' Bookmarks
---

<h1>{{ page.title }}</h1>


 {% include welcome-links.html %}


<h2>2015</h2>


{% for link in site.links %}
<div class='post'>
  <header class='post-header'>
    <a href="{{ site.url }}{{ link.url }}">
      <span class='post-title'>{{ link.title }}</span>
    </a>
 <!--
 <p class='post-meta'>{{ link.date | date: "%b %-d, %Y" }}</p>
 -->
  </header>

  <article class='post-content'>
    <!-- todo -- use excerpt ??? -->
  </article>
</div>
{% endfor %}
