<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - {{ site.title }}</title>
   <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/ruby.css" >
   <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="Ruby Gem of the Week News Feed (Atom)">
   <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/links/atom.xml" title="Ruby Links 'n' Bookmarks News Feed (Atom)">
   <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/books/atom.xml" title="Ruby Books 'n' Screencasts News Feed (Atom)">
   <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/apps/atom.xml" title="Open Source Ruby 'n' Rails Apps News Feed (Atom)">
</head>
<body>

  <div id="nav">
    <a href="http://planetruby.herokuapp.com">Planet Ruby</a> |

    <a href="{{ site.url }}/index.html">Ruby Gem of the Week Series</a> |

    <a href="{{ site.url }}/links/index.html">Ruby Links &amp; Bookmarks</a> |

    <a href="{{ site.url }}/books/index.html">Ruby Books &amp; Screencasts</a> |

    <a href="{{ site.url }}/apps/index.html">Open Source Ruby &amp; Rails Apps</a> |

    <a href="https://github.com/feedreader/planet-ruby">Repo (Edit Me!)</a> |

    <a href="http://groups.google.com/group/feedreader">Forum (Questions? Comments?)</a>
  </div>

    <div id="content">
      {{ content }}
    </div>

</body>
</html>
