---
# note: use a little cleaned-up default layout
#   see  https://github.com/pages-themes/primer#layouts
#  - adds our own litter footer (instead of improve this page)
#  - removes google analytics if block (not used)
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      
<p>
You have been permanently banned from participating in r/ruby.
I do not see your participation adding anything to this community.   
</p>
<p>
  -- Richard Schneeman (r/ruby Mod) 
</p>

<a href="https://github.com/chooseaconduct/chooseaconduct.github.io/blob/master/casestudies/ruby.md">
Case Studies of Code of Conduct "Cancel Culture" Out-Of-Control Power Abuse - Ruby - A Call for Tolerance On Ruby-Talk Results In Ban On Reddit Ruby
</a>

<hr>
      
      
      
      {% if site.title and site.title != page.title %}
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
      {% endif %}

      {{ content }}

    <!-- note: add our own little (inline) footer, see _includes for source -->  
   {% include footer.html %}

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
