---
layout: default_page
---


{% if page.path == "README.md" %}
  <!-- no custom page header -->
{% elsif page.path contains "2020" %}
     <p style="font-size: 80%;">
          <a href="{{ '/' | relative_url }}">« 25 Days of Ruby Gems - Ruby Advent Calendar 2020, December 1st - December 25th</a>
     </p>
{% elsif page.path contains "football" %}
     <p style="font-size: 80%;">
          <a href="{{ '/' | relative_url }}">« Ruby Football Week 2021, June 11th to June 17th - 7 Days of Ruby (Sports) Gems</a>
     </p>
{% elsif page.path contains "pixel" %}
     <p style="font-size: 80%;">
          <a href="{{ '/' | relative_url }}">« Ruby Pixel Art Week 2021, April 19th to April 25th - 7 Days of Ruby (Graphics) Gems</a>
     </p>
{% elsif page.path contains "opendata" %}
     <p style="font-size: 80%;">
          <a href="{{ '/' | relative_url }}">« Ruby Open Data Week 2021, March 6th to March 12th - 7 Days of Ruby (Open Data) Gems</a>
     </p>
{% elsif page.path contains "blockchain" %}
     <p style="font-size: 80%;">
          <a href="{{ '/' | relative_url }}">« Ruby Blockchain Week 2021, January 3rd to January 9th - 7 Days of Ruby (Crypto) Gems</a>
     </p>
{% elsif page.path contains "glimmer" %}
     <p style="font-size: 80%;">
           <a href="{{ '/' | relative_url }}">« Ruby Glimmer Days 2021, January 26th to January 29th - 4 Days of Ruby (Desktop) Gems</a>
     </p>
{% elsif page.path contains "week" %}
    <p style="font-size: 80%;">
          <a href="{{ '/' | relative_url }}">« Ruby Gem of the Week Series</a>
    </p>
{% else %}
  <!-- no custom page header -->
{% endif %}


{{ content }}



{% if page.path == "README.md" %}
  <!-- no custom page footer -->
{% elsif page.path contains "football" %}
   <h2>Questions? Comments?</h2>
     <p>
       Join us over on the <b><a href="https://old.reddit.com/r/planetruby/">r/PlanetRuby</a></b> channel. Official home of the Best of Ruby Gems Series discussions. Thanks!
     </p>
{% else %}
  <!-- no custom page footer -->
{% endif %}



<!-- note: add our own little (inline) footer, see _includes for source -->
{% include footer.html %}

